:root {
  /*--- Font families */
  --font-mono: SFMono, SFMono-Regular, ui-monospace, monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, ui-sans-serif, sans-serif;

  --font-dm-mono: 'Liga DM Mono', 'LigaDMMono-Regular', 'DM Mono';
  --font-dm-sans: 'DM Sans 9pt', 'DMSans-9ptRegular', 'DM Sans', 'DMSans-Regular';
  --font-instrument: 'InstrumentSans-Regular', 'Instrument Sans';
  --font-lilex: 'Lilex Nerd Font Propo', 'LilexNFP-Regular', 'Lilex Nerd Font Mono', 'LilexNFM-Regular', 'Lilex', 'Lilex-Regular';
  --font-title: 'Burbank Text', 'BurbankText-Bold', var(--font-instrument), var(--font-sans);
  --font-google-sans: 'Google Sans 17pt', 'GoogleSans17pt-Regular', 'Google Sans', 'GoogleSans-Regular';
  --font-google-mono: 'Google Sans Code', 'GoogleSansCode-Regular';
  --font-family-sans: var(--font-google-sans), var(--font-dm-sans), var(--font-sans);
  --font-family-mono: var(--font-google-mono), var(--font-dm-mono), var(--font-mono);

  /*--- Font variations (variables) */
  --font-normal: 100;
  --font-compact: 95;
  --font-condensed: 87.5;
  --font-narrow: 75;

  /*--- Font text-styles */
  --text-bolder: 700;
  --text-bold: 650;
  --text-semibold: 600;
  --text-medium: 500;
  --text-regular: 400;

  /*--- Font features */
  --ff-sans: 'calt' 0, 'case' 0, 'dlig' 0, 'kern' 1, 'liga' 1, 'lnum' 0, 'onum' 0, 'tnum' 0, 'zero' 0, 'locl' 0, 'frac' 0, 'c2sc' 0, 'hist' 0, 'hlig' 0, 'ordn' 0, 'smcp' 0, 'subs' 0, 'sups' 0, 'swsh' 0;
  --ff-mono: 'calt' 1, 'case' 1, 'dlig' 1, 'kern' 1, 'liga' 1, 'lnum' 1, 'onum' 0, 'tnum' 1, 'zero' 1;

  /*--- Font features (characters) */
  --ss-dm-sans: 'aalt' 0, 'ss01' 0, 'ss02' 0, 'ss03' 1, 'ss04' 0, 'ss05' 0, 'ss06' 0, 'ss07' 0, 'ss08' 0;
  --ss-dm-mono: 'aalt' 0, 'ss01' 1, 'ss02' 0, 'ss03' 1, 'ss04' 1, 'ss05' 0, 'ss06' 1, 'ss07' 1, 'ss08' 0;
  --ss-instrument-alt: 'ss01' 1, 'ss02' 1, 'ss03' 0, 'ss04' 0, 'ss05' 0, 'ss06' 0, 'ss07' 1, 'ss08' 1, 'ss09' 0, 'ss10' 1, 'ss11' 0, 'ss12' 1;
  --ss-instrument: 'ss01' 1, 'ss02' 0, 'ss03' 1, 'ss04' 1, 'ss05' 1, 'ss06' 1, 'ss07' 0, 'ss08' 0, 'ss09' 1, 'ss10' 0, 'ss11' 0, 'ss12' 1;
  --ss-jetbrains: 'ss01' 1, 'ss02' 1, 'ss03' 1, 'ss04' 1, 'ss20' 0, 'cv07' 0;
  --ss-lilex: 'ss02' 1, 'ss04' 1, 'cv03' 1, 'cv05' 1, 'cv06' 1, 'cv10' 1;
  --font-variation-heading: 'wdth' var(--font-narrow), 'wght' var(--text-semibold);
  --font-variation-bolder: 'wdth' var(--font-condensed), 'wght' var(--text-bolder);
  --font-variation-bold: 'wdth' var(--font-compact), 'wght' var(--text-bold);
  --font-variation-regular: 'wdth' var(--font-normal), 'wght' var(--text-regular);
  --font-variation-semibold: 'wdth' var(--font-normal), 'wght' var(--text-semibold);
  --font-variation-medium: 'wdth' var(--font-normal), 'wght' var(--text-medium);

  /*--- Font features' settings */
  --font-features-sans: var(--ff-sans), var(--ss-dm-sans);
  --font-features-mono: var(--ff-mono), var(--ss-dm-mono);
  --font-features-heading: var(--ss-instrument-alt);

  /*--- Hues */
  --red: 0;
  --scarlet: 8;
  --vermilion: 15;
  --orangered: 22;
  --orange: 30;
  --tangerine: 38;
  --amber: 45;
  --gold: 52;
  --yellow: 60;
  --lime: 75;
  --chartreuse: 90;
  --green: 120;
  --seafoam: 140;
  --springgreen: 148;
  --teal: 164;
  --aqua: 172;
  --cyan: 180;
  --skyblue: 195;
  --azure: 220;
  --royalblue: 228;
  --blue: 250;
  --indigo: 255;
  --violet: 270;
  --purple: 285;
  --magenta: 300;
  --fuchsia: 315;
  --rose: 330;

  /*--- Spacing */
  --px12: 12px;
  --px11: 11px;
  --px10: 10px;
  --px9: 9px;
  --px8: 8px;
  --px7: 7px;
  --px6: 6px;
  --px5: 5px;
  --px4: 4px;
  --px3-5: 3.5px;
  --px3: 3px;
  --px2-5: 2.5px;
  --px2: 2px;
  --px1-5: 1.5px;
  --px1: 1px;
  --px0-5: 0.5px;
  --px-0-5: -0.5px;
  --px-1: -1px;
  --px-1-5: -1.5px;
  --px-2: -2px;
  --round: 8px;
  --round-sm: 6px;
  --round-xs: 3px;
  --gap: 1rem;
  --gap-sm: calc(var(--gap) * 0.75);
  --gap-xs: calc(var(--gap) * 0.5);
  --gap-xxs: calc(var(--gap) * 0.25);
  text-rendering: optimizelegibility;
}

html {
  /*--- Theme tokens */
  --surface: hsl(var(--royalblue), 16%, 22%);
  --foreground-bold: hsla(var(--azure), 48%, 96%, 0.88);
  --foreground-text: hsla(var(--azure), 40%, 80%, 0.80);
  --foreground: hsla(var(--blue), 32%, 88%, 0.72);
  --foreground-subtle: hsla(var(--royalblue), 24%, 72%, 0.64);
  --foreground-muted: hsla(var(--royalblue), 16%, 64%, 0.56);
  --blue-100: hsla(calc(var(--azure) + 16), 12%, 12%, 0.22);
  --blue-200: hsla(calc(var(--skyblue) - 16), 12%, 22%, 0.11);
  --highlight: hsl(var(--skyblue), 16%, 64%);
  --highlight-05: hsla(var(--skyblue), 16%, 48%, 0.1);
  --highlight-10: hsla(var(--skyblue), 16%, 64%, 0.12);
  --highlight-30: hsla(var(--skyblue), 16%, 64%, 0.3);
  --highlight-border-05: var(--highlight-05) solid var(--px1);
  --highlight-border-10: var(--highlight-10) solid var(--px1-5);
  --highlight-border-30: var(--highlight-30) solid var(--px1-5);
  --highlight-offset: var(--px-1-5);
  --outline: hsla(var(--indigo), 16%, 10%, 0.88);
  --outline-50: hsla(var(--indigo), 16%, 10%, 0.5);
  --outline-border: var(--outline) solid var(--px1-5);
  --outline-shadow: var(--outline) 0 0 0 var(--px1-5), var(--outline-50) 0 0 0 var(--px1);
  --stroke-cell: var(--outline-50) solid var(--px1-5);

  --alias: var(--px1-5) 0 hsla(var(--indigo), 16%, 10%, 0.125),
    var(--px-1-5) 0 hsla(var(--indigo), 16%, 10%, 0.125),
    0 var(--px1-5) hsla(var(--indigo), 16%, 10%, 0.125),
    0 var(--px-1-5) hsla(var(--indigo), 16%, 10%, 0.125);

  --text-alias: var(--alias),
    0 0 var(--px0-5) currentColor;

  --text-alias-strong: var(--alias),
    0 0 var(--px1) var(--outline-50);

  --text-stroke:
    /* 1 - 1.5 */
    var(--px-1-5) var(--px-1) var(--outline-50),
    var(--px-1-5) var(--px1) var(--outline-50),
    var(--px1-5) var(--px-1) var(--outline-50),
    var(--px1-5) var(--px1) var(--outline-50),
    var(--px-1) var(--px-1-5) var(--outline-50),
    var(--px1) var(--px-1-5) var(--outline-50),
    var(--px-1) var(--px1-5) var(--outline-50),
    var(--px1) var(--px1-5) var(--outline-50),
    /* 0.5 - 1.5 */
    var(--px-1-5) var(--px-0-5) var(--outline-50),
    var(--px1-5) var(--px-0-5) var(--outline-50),
    var(--px-1-5) var(--px0-5) var(--outline-50),
    var(--px1-5) var(--px0-5) var(--outline-50),
    var(--px-0-5) var(--px-1-5) var(--outline-50),
    var(--px-0-5) var(--px1-5) var(--outline-50),
    var(--px0-5) var(--px-1-5) var(--outline-50),
    var(--px0-5) var(--px1-5) var(--outline-50),
    var(--px-1-5) var(--px-1-5) var(--outline-50),
    var(--px1-5) var(--px-1-5) var(--outline-50),
    var(--px-1-5) var(--px1-5) var(--outline-50),
    var(--px1-5) var(--px1-5) var(--outline-50),
    var(--px-1-5) 0 var(--outline-50),
    var(--px1-5) 0 var(--outline-50),
    var(--px-1-5) 0 var(--outline-50),
    var(--px1-5) 0 var(--outline-50),
    0 var(--px-1-5) var(--outline-50),
    0 var(--px1-5) var(--outline-50),
    0 var(--px-1-5) var(--outline-50),
    0 var(--px1-5) var(--outline-50),
    0 0 var(--px1-5) black;

  --scanlines: repeating-linear-gradient(in srgb-linear to bottom,
      var(--blue-200) 0,
      var(--blue-200) var(--px2),
      var(--blue-100) var(--px2),
      var(--blue-100) var(--px4));

  --thead-fill: linear-gradient(in srgb-linear to bottom,
      hsl(calc(var(--royalblue) - 32), 24%, 32%) 32%,
      hsl(calc(var(--royalblue) - 24), 24%, 32%) 101%,
      hsl(calc(var(--royalblue) - 00), 24%, 32%) calc(101% + var(--px3)));

  --thead-gradient:
    linear-gradient(in srgb-linear 090deg, hsla(calc(var(--skyblue) - 15), 40%, 48%, 0.3), transparent 50%),
    linear-gradient(in srgb-linear 135deg, hsla(calc(var(--skyblue) - 00), 48%, 40%, 0.3), transparent 75%),
    linear-gradient(in srgb-linear 180deg, hsla(calc(var(--skyblue) + 15), 40%, 48%, 0.3), transparent 100%),
    linear-gradient(in srgb-linear 270deg, hsla(calc(var(--skyblue) + 30), 40%, 48%, 0.3), transparent 75%);

  --rainbow: linear-gradient(in srgb-linear 90deg,
      hsl(var(--skyblue), 56%, 40%), 12%,
      hsl(var(--indigo), 48%, 48%), 24%,
      hsl(var(--rose), 40%, 56%), 48%,
      hsl(var(--amber), 48%, 48%), 72%,
      hsl(var(--green), 56%, 40%), 100%);

  --gradient: linear-gradient(in srgb-linear to bottom right,
      hsla(calc(var(--purple) * 0.96), 32%, 24%, 1) 24%,
      hsla(calc(var(--purple) * 1.12), 32%, 24%, 1) 48%,
      hsla(calc(var(--purple) * 1.28), 32%, 24%, 1) 72%);

  --svg-hrule: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iaHNsKDIyOCwgMTYlLCAxMiUpIiBzdHJva2U9ImhzbCgyMTUsIDE2JSwgMjYlKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMCAxMy41YzMgMCAzLTEyIDYtMTJzMyAxMiA2IDEyIi8+PC9zdmc+');
  --svg-thead: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iaHNsKDIyOCwgMTYlLCAyMiUpIiBzdHJva2U9ImhzbCgyNTUsIDE2JSwgMTYlKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMCAxMy41YzMgMCAzLTEyIDYtMTJzMyAxMiA2IDEyIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6b3ZlcmxheSIvPjwvc3ZnPg==');
  --svg-noise: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZmlsdGVyIGlkPSJwcmVmaXhfX2EiPjxmZVR1cmJ1bGVuY2UgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz48ZmVDb2xvck1hdHJpeCB0eXBlPSJzYXR1cmF0ZSIgdmFsdWVzPSIuMyIvPjxmZUNvbXBvbmVudFRyYW5zZmVyPjxmZUZ1bmNSIHR5cGU9ImdhbW1hIiBzbG9wZT0iLjMiIGludGVyY2VwdD0iLjMiLz48ZmVGdW5jRyB0eXBlPSJnYW1tYSIgc2xvcGU9Ii4zIiBpbnRlcmNlcHQ9Ii4zIi8+PGZlRnVuY0IgdHlwZT0iZ2FtbWEiIHNsb3BlPSIuMyIgaW50ZXJjZXB0PSIuMyIvPjxmZUZ1bmNBIHR5cGU9ImxpbmVhciIgc2xvcGU9Ii4zIi8+PC9mZUNvbXBvbmVudFRyYW5zZmVyPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbHRlcj0idXJsKCNwcmVmaXhfX2EpIi8+PC9zdmc+');
  --svg-verti: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12pt 9pt" width="12pt" height="9pt"><path style="transform: rotate(90deg) translateY(-11pt);" fill="hsl(200, 14%, 22%)" stroke="hsl(255, 16%, 16%)" stroke-width="1.5pt" stroke-linecap="square" d="M0,13.5c3,0,3-12,6-12s3,12,6,12" /></svg>');
}

html,
body {
  padding: 0;
}

html {
  /*--- Background */
  background-color: hsl(var(--royalblue), 16%, 10%);
  background-position: var(--px-2) 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light, normal;
  background-image: var(--svg-noise), var(--scanlines);
  background-size: 72px;
}

body[data-vscode-theme-kind='vscode-dark'] {
  /*--- Editor variables */
  --vscode-font-size: var(--markdown-font-size, 15px) !important;
  --vscode-editor-font-family: var(--font-family-mono, inherit) !important;
  --vscode-editor-foreground: var(--foreground, white) !important;
  --vscode-font-weight: var(--text-regular) !important;
  --vscode-textCodeBlock-background: var(--surface) !important;
  --vscode-textPreformat-background: var(--surface) !important;
  --vscode-textPreformat-foreground: var(--foreground, hsla(0, 0%, 96%, 0.96)) !important;
  --vscode-widget-border: var(--outline) !important;
  /*--- Preview variables */
  --markdown-font-family: var(--font-family-sans, inherit);
  --markdown-font-size: 15px;
  --markdown-line-height: 1.3;
}

.markdown-body {
  font-family: var(--font-family-sans, inherit);
  color: var(--foreground-text);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  font-feature-settings: var(--font-features-sans);
  margin: auto;
  max-width: 800px;
  min-width: 320px;
  padding: var(--gap-sm) calc(var(--gap) * 2.5);
  text-rendering: optimizeLegibility;
  text-shadow: var(--text-alias);
  gap: var(--gap-xs);
}

.markdown-body::selection {
  background: hsla(var(--cyan), 64%, 56%, 0.2);
}

.markdown-body strong,
.markdown-body u {
  color: var(--foreground-bold);
  font-variation-settings: var(--font-variation-bolder);
  font-weight: var(--text-bolder);
  letter-spacing: 0.01em;
  paint-order: stroke;
  text-shadow: var(--text-alias-strong);
}

.markdown-body sub,
.markdown-body sup {
  font-size: 0.8em;
  vertical-align: text-top;
  line-height: 1em;
  margin: 0 0.1em;
}

.markdown-body sub a,
.markdown-body sup a {
  display: inline-flex;
  padding: 0.1em;
  outline-color: transparent !important;
  text-underline-offset: var(--px2-5);
}

.markdown-body sub a:focus,
.markdown-body sup a:focus {
  background-color: var(--outline-50);
  border-radius: 0;
}

.markdown-body p {
  line-height: var(--markdown-line-height);
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.3;
}

.markdown-body p:not(:first-child)+p {
  margin-block-start: var(--gap-xs);
  margin-block-end: 0;
}

.markdown-body a {
  text-decoration-color: currentColor;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: var(--px1);
  vertical-align: baseline;
}

.markdown-body strong:has(a) {
  font-variation-settings: var(--font-variation-bold);
  font-weight: var(--text-bold);
  text-decoration-color: inherit;
  color: inherit;
}

.markdown-body strong code,
.markdown-body strong:has(code) {
  font-variation-settings: var(--font-variation-regular);
  font-weight: var(--text-regular);
  color: var(--foreground-text);
  text-shadow: var(--text-alias);
}

.markdown-body a code,
.markdown-body a:has(code) {
  font-variation-settings: var(--font-variation-regular);
  color: inherit;
}

.markdown-body a:hover code,
.markdown-body a:has(code):hover {
  outline-color: transparent;
}

.markdown-body a:link,
.markdown-body strong:has(a:link) {
  color: hsl(var(--azure), 90%, 75%);
}

.markdown-body a:hover {
  color: hsl(calc(var(--azure) - 16), 70%, 70%);
  text-decoration-style: solid;
}

.markdown-body a:active,
.markdown-body a:focus,
.markdown-body a:visited {
  color: hsl(calc(var(--azure) + 16), 80%, 70%);
  outline-color: transparent;
  border-radius: var(--round-xs);
}

.markdown-body ul,
.markdown-body ol {
  flex-direction: column;
  display: flex;
  flex: 0 1 auto;
  gap: var(--gap-xs) 0;
  padding-inline-start: var(--gap-sm);
  margin-inline-start: var(--gap-sm);
}

.markdown-body ol li>ul,
.markdown-body ol li>ol,
.markdown-body ul li>ul,
.markdown-body ul li>ol {
  margin-block-start: var(--gap-sm);
}

.markdown-body li::marker {
  font-variation-settings: var(--font-variation-medium);
  font-weight: var(--text-medium);
  font-feature-settings: var(--font-features-mono);
  font-size: 1.1em;
  color: var(--foreground-muted);
  vertical-align: baseline;
}

.markdown-body li {
  font-size: var(--markdown-font-size);
  line-height: var(--markdown-line-height);
  list-style-position: outside;
  position: relative;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ol li::marker {
  font-family: var(--font-title, inherit);
  color: var(--foreground-subtle);
  list-style: decimal;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ul li::marker {
  list-style: disc;
}

.markdown-body ul ul {
  list-style-type: "→ ";
}

.markdown-body ul ul ul {
  list-style-type: "∗ ";
}

.markdown-body li p:first-child {
  margin-block-start: 0;
}

.markdown-body li p+p {
  margin-block-start: var(--gap-xs);
}

.markdown-body li:has(input[type='checkbox']) {
  display: table;
  margin-block-start: 0;
  margin-inline-start: var(--gap-xs);
  position: relative;
}

.markdown-body input[type='checkbox'] {
  appearance: none;
  background: var(--surface);
  border-radius: var(--round);
  border: var(--outline-border);
  border-color: var(--highlight-10);
  box-shadow: var(--outline-shadow);
  box-sizing: content-box;
  margin-inline-start: calc(var(--gap-sm) * -1);
  margin-inline-end: var(--gap-sm);
  min-height: calc(var(--gap) - var(--px1-5));
  min-width: calc(var(--gap) - var(--px1-5));
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  position: absolute;
  top: calc(var(--gap) * -0.08);
  left: calc(var(--gap) * -1);
  vertical-align: text-top;
}

.markdown-body input[type='checkbox']:hover {
  cursor: pointer;
}

.markdown-body input[type='checkbox']:checked {
  outline-color: hsla(var(--purple), 32%, 32%, 0.32);
  background: hsl(var(--violet), 32%, 16%);
}

.markdown-body input[type="checkbox"]:checked::after {
  color: hsl(var(--chartreuse), 32%, 64%);
  /*--- Unicode checkmark character "✓" */
  content: "\2713";
  font-family: var(--font-title, inherit);
  font-feature-settings: var(--font-features-mono);
  font-size: 1.4rem;
  font-variant-emoji: unicode;
  font-variant: var(--font-variation-bold);
  font-weight: var(--text-bold);
  left: 50%;
  position: absolute;
  text-indent: var(--px-2);
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  top: 50%;
  transform: translate(-50%, -50%);
}

.markdown-body input[type='checkbox']+label {
  display: inline-block;
  margin: var(--px-0-5) var(--px1-5) 0 0;
}

.markdown-body image {
  max-width: min-content;
  max-height: min-content;
  height: 100%;
  width: auto;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  -webkit-text-stroke: var(--px3-5, thin) var(--outline-50);
  align-items: baseline;
  border: none;
  flex-direction: column;
  flex-flow: wrap;
  flex: 0 1 auto;
  font-family: var(--font-title, inherit);
  font-feature-settings: var(--font-features-heading);
  font-variation-settings: var(--font-variation-bold);
  font-weight: var(--text-bold);
  margin-bottom: 0;
  padding: 0;
  paint-order: stroke;
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  z-index: 2;
}

.markdown-body h1,
.markdown-body h2 {
  font-variation-settings: var(--font-variation-bolder);
  font-weight: var(--text-bolder);
  margin: var(--gap) 0 0 0;
  line-height: 0.88;
  letter-spacing: -0.024em;
}

.markdown-body h3,
.markdown-body h4 {
  margin: var(--gap-sm) 0 0 0;
  line-height: 0.96;
  letter-spacing: -0.016em;
}

.markdown-body h5,
.markdown-body h6 {
  margin: 0;
  font-variant: small-caps;
  line-height: 0.92;
  letter-spacing: 0.016em;
}

.markdown-body h1 {
  font-size: 1.80em;
  color: hsl(var(--yellow), 56%, 64%);
}

.markdown-body h2 {
  font-size: 1.64em;
  color: hsl(var(--chartreuse), 40%, 64%);
}

.markdown-body h3 {
  font-size: 1.48em;
  color: hsl(var(--teal), 40%, 64%);
}

.markdown-body h4 {
  font-size: 1.40em;
  color: hsl(var(--azure), 72%, 72%);
}

.markdown-body h5 {
  font-size: 1.32em;
  color: hsl(var(--violet), 56%, 72%);
}

.markdown-body h6 {
  font-size: 1.24em;
  color: hsl(var(--rose), 56%, 72%);
}

.markdown-body h1+h2,
.markdown-body h2+h3,
.markdown-body h3+h4,
.markdown-body h4+h5,
.markdown-body h5+h6 {
  margin: 0;
  margin-block-start: var(--gap-xxs);
  margin-block-end: 0;
}

.markdown-body h1 strong,
.markdown-body h2 strong,
.markdown-body h3 strong,
.markdown-body h4 strong,
.markdown-body h5 strong,
.markdown-body h6 strong {
  color: inherit;
  font-size: inherit;
  text-shadow: inherit;
}

.markdown-body h1 code,
.markdown-body h2 code,
.markdown-body h3 code,
.markdown-body h4 code,
.markdown-body h5 code,
.markdown-body h6 code {
  display: inline;
  font-size: 0.72em;
  letter-spacing: normal;
  font-variation-settings: var(--font-variation-regular) !important;
  font-weight: var(--text-regular) !important;
  text-shadow: var(--text-alias) !important;
  border-radius: var(--round);
}

.markdown-body h1+hr,
.markdown-body h2+hr,
.markdown-body h3+hr,
.markdown-body h4+hr,
.markdown-body h5+hr,
.markdown-body h6+hr,
.markdown-body blockquote+hr {
  display: none;
}

.markdown-body hr {
  align-content: stretch;
  align-items: stretch;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  min-height: 1em;
  position: relative;
  width: 100%;
  z-index: 1;
  border: none;
}

.markdown-body hr::before {
  align-self: stretch;
  background-position: 0 0;
  background-repeat: round;
  content: '';
  height: 1em;
  z-index: -1;
}

.markdown-body hr::before {
  background-color: hsla(var(--royalblue), 12%, 12%, 0.5);
  flex: 0 1 auto;
  background-image: var(--svg-hrule);
}

.markdown-body hr {
  box-sizing: border-box;
  flex-direction: column;
  gap: 0;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 1em;
  padding: 0;
  position: relative;
  right: 50%;
  width: calc(100vw - var(--px8));
}

.markdown-body blockquote {
  background: hsl(var(--skyblue), 16%, 22%);
  border-block-start: var(--highlight-border-10);
  border-left-color: var(--highlight-30);
  box-shadow: var(--outline-shadow);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: var(--round);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  padding: var(--gap-sm);
  margin: var(--gap-xs) auto;
}


.markdown-body table {
  background-color: var(--surface);
  border-collapse: separate;
  border-color: var(--outline);
  border-radius: var(--round-sm);
  border-spacing: 0;
  box-shadow: var(--outline-shadow);
  margin: 0.5rem 0;
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  overflow: hidden;
}

.markdown-body tbody {
  display: table-header-group;
  width: 100%;
}

.markdown-body table tr td img {
  width: auto;
  max-width: 4.5em;
  height: 100%;
  max-height: 4.5em;
}

.markdown-body table tr td a {
  text-decoration-color: currentColor;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: calc(var(--px4) * -1);
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.markdown-body table tr td br {
  display: none;
}

.markdown-body table tr td a sub {
  display: inline;
  line-height: 0.8em;
}

.markdown-body table tr td a sub b {
  font-size: 0.8em;
  font-variation-settings: var(--font-variation-medium);
  font-weight: var(--text-medium) !important;
}

.markdown-body table+table {
  margin-top: 0;
  border-radius: var(--round-sm) var(--round-sm) 0 0;
}

.markdown-body table thead {
  background-color: var(--surface);
  background-image: var(--thead-gradient), var(--thead-fill);
  border-radius: var(--round-sm) var(--round-sm) 0 0;
  border-block-end: none;
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  position: relative;
  z-index: 1;
}

.markdown-body table thead::before,
.markdown-body table thead::after {
  content: '';
  display: flex;
  font-size: 1rem;
  height: 1rem;
  position: absolute;
  width: 100%;
}

.markdown-body table thead::before {
  border-inline-start: var(--highlight-border-10);
  border-inline-end: var(--highlight-border-10);
  background-image: var(--scanlines);
  background-position: 0 var(--px-1-5);
  background-repeat: repeat-y;
  border-block-start: var(--highlight-border-30);
  border-radius: var(--round-sm) var(--round-sm) 0 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: calc(100% - var(--px3));
  height: calc(100% - var(--px3));
  z-index: 2;
}

.markdown-body table thead::after {
  shape-rendering: geometricPrecision;
  stroke-miterlimit: 4;
  stroke-linejoin: round;
  background-image: var(--svg-thead);
  background-position: 0 0;
  background-repeat: repeat-x;
  bottom: var(--px-1-5);
  left: 0;
  right: 0;
  z-index: 3;
}

.markdown-body thead th {
  border-color: transparent;
  padding: 0.8rem 0.25rem 1rem;
  position: relative;
  align-items: baseline;
}

.markdown-body thead th,
.markdown-body thead strong {
  -webkit-text-stroke: var(--px3, thin) var(--outline-50);
  color: var(--foreground-bold);
  font-family: var(--font-title, inherit);
  font-size: 1.1em;
  font-variation-settings: var(--font-variation-heading);
  font-weight: var(--text-bold);
  letter-spacing: -0.005em;
  line-height: 1.1;
  paint-order: stroke;
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  vertical-align: middle;
  z-index: 4;
}

.markdown-body tfoot {
  background: var(--surface);
  border-radius: 0 0 var(--round-sm) var(--round-sm);
  overflow: hidden;
}

.markdown-body tfoot tr td {
  border-radius: 0 0 var(--round-sm) var(--round-sm);
}

.markdown-body th:first-child,
.markdown-body thead+tbody tr:first-child td:first-child {
  border-radius: var(--round-sm) 0 0 0;
  padding-left: 0.75rem;
}

.markdown-body th:last-child,
.markdown-body thead+tbody tr:first-child td:last-child {
  border-radius: 0 var(--round-sm) 0 0;
  padding-right: 0.75rem;
}

.markdown-body table tr {
  width: 100%;
  max-width: calc(100% - 1rem);
}

.markdown-body td {
  border-top: var(--highlight-border-10);
  border-bottom: var(--stroke-cell);
  padding: 0.25rem;
  max-width: calc(100% - 2rem);
  background: var(--surface);
  text-shadow: var(--text-alias);
  border-collapse: separate;
}

.markdown-body tr:last-child td:last-child {
  border-radius: 0 0 var(--round-sm) 0;
}

.markdown-body tr:first-child td {
  padding-top: 0.3rem;
  border-top: transparent none 0;
}

.markdown-body tr td:first-child {
  padding-left: 0.75rem;
}

.markdown-body tr:last-child td:first-child {
  border-radius: 0 0 0 var(--round-sm);
}

.markdown-body tr:last-child td {
  padding-bottom: 0.5rem;
  border-bottom: transparent none 0;
}

.markdown-body tr td:last-child {
  padding-right: 0.75rem;
}

.markdown-body code {
  /*--- other */
  all: revert;
  /*--- layout */
  margin: 0 var(--px0-5);
  vertical-align: var(--px1);
  /*--- text */
  font-size: 0.84em;
  font-feature-settings: var(--font-features-mono);
  font-family: var(--font-family-mono);
  list-style: var(--markdown-line-height);
  color: hsla(var(--orange), 64%, 64%, 0.80);
  /*--- appearance */
  background: hsla(var(--rose), 24%, 24%, 0.80);
  border-block-end: solid transparent var(--px1);
  border-block-start: var(--highlight-10) solid var(--px1);
  border-left: solid transparent var(--px3);
  border-radius: var(--round-xs);
  border-right: solid transparent var(--px3);
  box-shadow: var(--outline-shadow);
  outline-offset: var(--px-1);
  outline: var(--highlight-border-05);
}

.markdown-body pre:has(code) {
  padding: var(--gap-xs) var(--gap-sm) var(--gap-xs) var(--gap);
  overflow-y: auto;
  overflow-x: hidden;
  outline: var(--highlight-border-10);
  outline-offset: var(--highlight-offset);
  max-block-size: 16rem;
  display: flow-root;
  color: inherit;
  box-shadow: var(--outline-shadow);
  border: solid transparent var(--px1-5);
  border-radius: var(--round-sm);
  border-block-start: var(--highlight-border-10);
  border-inline-start: var(--highlight-border-10);
  border-inline-end: var(--outline-border);
  border-block-end: var(--outline-border);
  background-color: var(--surface);
  line-height: 1.1;
}

.markdown-body pre {
  margin-top: var(--gap-xs);
  margin-bottom: var(--gap);
}

.markdown-body pre+pre {
  margin-top: 0;
}

.markdown-body pre>code {
  background-color: transparent;
  display: contents;
  box-shadow: none;
  outline-color: transparent;
  color: inherit;
  border-radius: var(--round-sm);
  clip-path: stroke-box;
  margin: 0 0 var(--gap-sm) 0;
}

.markdown-body .admonition {
  align-items: stretch;
  background-attachment: fixed;
  background-clip: padding-box;
  background-color: var(--highlight-10);
  background-image: var(--scanlines);
  background-position: 0 0;
  border-bottom: transparent none 0;
  border-color: hsla(var(--azure), 64%, 60%, 0.8);
  border-radius: var(--round);
  box-shadow: var(--outline-shadow);
  display: flex;
  line-height: 1em;
  flex-direction: column;
  flex: 0 1 auto;
  gap: var(--gap-sm);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
}

.markdown-body .admonition .admonition-title {
  border-bottom: 0 none transparent;
  border-bottom-color: transparent;
  color: var(--foreground-bold);
  font-variation-settings: var(--font-variation-semibold);
  font-weight: var(--text-semibold);
}

.markdown-body .markdown-alert.note {
  --border-color: hsl(var(--blue), 56%, 72%);
}

.markdown-body .markdown-alert.warning {
  --border-color: hsl(var(--amber), 64%, 48%);
}

.markdown-body .markdown-alert.important {
  --border-color: hsl(var(--purple), 72%, 56%);
}

.markdown-body .markdown-alert.caution {
  --border-color: hsl(var(--red), 72%, 64%);
}

.markdown-body .markdown-alert.tip {
  --border-color: hsl(var(--green), 32%, 56%);
  color: hsl(var(--green), 32%, 56%);
}

.markdown-body .markdown-alert {
  align-items: stretch;
  background-attachment: fixed;
  background-clip: padding-box;
  background-color: var(--highlight-10);
  border-bottom: transparent none 0;
  border-color: var(--border-color, hsla(var(--azure), 64%, 60%, 0.8));
  border-radius: var(--round);
  box-shadow: var(--outline-shadow);
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  gap: var(--gap-sm);
  padding: var(--gap) calc(var(--gap) * 1.5);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  margin: var(--gap-sm) 0;
}

.markdown-body .markdown-alert>p {
  color: var(--foreground-bold);
}

.markdown-body .markdown-alert>span {
  flex: 1 0 auto;
  gap: var(--gap-xxs);
}

.markdown-body .markdown-alert>span:first-child {
  -webkit-text-stroke: var(--px3, thin) var(--outline-50);
  paint-order: stroke;
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
  color: currentColor;
  font-family: var(--font-title, inherit);
  font-variation-settings: var(--font-variation-heading);
  font-weight: var(--text-bold);
  letter-spacing: -0.005em;
  line-height: 1.05;
  vertical-align: middle;
  text-transform: uppercase;
  z-index: 4;
  text-shadow: var(--text-stroke);
  gap: var(--gap-xxs);
}

.markdown-body .markdown-alert>span:first-child .markdown-alert-icon {
  height: calc(var(--gap) * 1.15);
  width: calc(var(--gap) * 1.15);
  margin: calc(var(--gap) * -0.3) 0 calc(var(--gap) * -0.15) 0;
}

.markdown-body .hljs-comment,
.markdown-body .hljs-quote {
  color: var(--foreground-muted);
}


.markdown-body details summary {
  background: var(--surface);
  border-radius: var(--round-sm);
  box-shadow: var(--outline-shadow);
  cursor: pointer;
  font-family: var(--font-family-mono);
  font-feature-settings: var(--font-features-mono);
  font-size: smaller;
  font-weight: var(--text-semibold);
  letter-spacing: 0.05em;
  margin-block-end: var(--gap-xxs);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  padding: var(--gap-xxs) var(--gap-sm);
  text-shadow: var(--text-alias-strong);
  text-transform: uppercase;
}

.markdown-body summary:hover {
  color: var(--foreground-subtle);
}

.markdown-body summary::marker {
  background-color: var(--outline-50);
  border-radius: var(--round);
  color: var(--foreground-subtle);
  content: "▶︎";
  display: inline-block;
  max-height: var(--gap-sm);
  max-width: var(--gap-sm);
  line-height: var(--markdown-line-height);
}

.markdown-body details[open]>summary::marker {
  content: "▼";
  font-size: larger;
  vertical-align: baseline;
  max-height: var(--gap-sm);
}
