:root {
  /*--- Font families */
  --font-mono: SFMono, SFMono-Regular, monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --font-dm-mono: 'Liga DM Mono', 'LigaDMMono-Regular', 'DM Mono';
  --font-dm-sans: 'DM Sans 9pt', 'DMSans-9ptRegular', 'DM Sans', 'DMSans-Regular';
  --font-instrument: 'Instrument Sans';
  --font-lilex: 'Lilex Nerd Font Propo', 'LilexNFP-Regular', 'Lilex Nerd Font Mono', 'LilexNFM-Regular', 'Lilex', 'Lilex-Regular';
  --font-title: 'Burbank Text', 'BurbankText-Bold', var(--font-sans, inherit);
  --font-google-sans: 'Google Sans 17pt', 'GoogleSans17pt-Regular', 'Google Sans', 'GoogleSans-Regular';
  --font-google-mono: 'Google Sans Code', 'GoogleSansCode-Regular';

  /*--- Font variations (variables) */
  --font-normal: 100;
  --font-compact: 95;
  --font-condensed: 87.5;
  --font-narrow: 75;

  /*--- Font text-styles */
  --text-bolder: 700;
  --text-bold: 650;
  --text-semibold: 600;
  --text-medium: 500;
  --text-regular: 400;

  /*--- Font features */
  --ff-sans: 'calt' 0, 'case' 0, 'dlig' 0, 'kern' 1, 'liga' 1, 'lnum' 0, 'onum' 0, 'tnum' 0, 'zero' 0, 'locl' 0, 'frac' 0, 'c2sc' 0, 'hist' 0, 'hlig' 0, 'ordn' 0, 'smcp' 0, 'subs' 0, 'sups' 0, 'swsh' 0;
  --ff-mono: 'calt' 1, 'case' 1, 'dlig' 1, 'kern' 1, 'liga' 1, 'lnum' 1, 'onum' 0, 'tnum' 1, 'zero' 1;

  /*--- Font features (characters) */
  --ss-dm-sans: 'aalt' 0, 'ss01' 0, 'ss02' 0, 'ss03' 1, 'ss04' 0, 'ss05' 0, 'ss06' 0, 'ss07' 0, 'ss08' 0;
  --ss-dm-mono: 'aalt' 0, 'ss01' 1, 'ss02' 0, 'ss03' 1, 'ss04' 1, 'ss05' 0, 'ss06' 1, 'ss07' 1, 'ss08' 0;
  --ss-instrument-alt: 'ss01' 1, 'ss02' 1, 'ss06' 1;
  --ss-instrument: 'ss04' 1, 'ss05' 1, 'ss07' 1, 'ss08' 1, 'ss09' 1, 'ss10' 1, 'ss12' 1;
  --ss-jetbrains: 'ss01' 1, 'ss02' 1, 'ss03' 1, 'ss04' 1, 'ss20' 0, 'cv07' 0;
  --ss-lilex: 'ss02' 1, 'ss04' 1, 'cv03' 1, 'cv05' 1, 'cv06' 1, 'cv10' 1;
  --font-features-bolder: 'wdth' var(--font-compact), 'wght' var(--text-bolder);
  --font-features-bold: 'wdth' var(--font-compact), 'wght' var(--text-bold);
  --font-features-heading: 'wdth' var(--font-condensed), 'wght' var(--text-semibold);
  --font-features-regular: 'wdth' var(--font-normal), 'wght' var(--text-regular);
  --font-features-semibold: 'wdth' var(--font-normal), 'wght' var(--text-semibold);
  --font-features-medium: 'wdth' var(--font-normal), 'wght' var(--text-medium);

  /*--- Font settings */
  --font-settings-sans: var(--ff-sans), var(--ss-dm-sans);
  --font-settings-mono: var(--ff-mono), var(--ss-dm-mono);

  /*--- Hues */
  --red: 0;
  --scarlet: 8;
  --vermilion: 15;
  --orangered: 22;
  --orange: 30;
  --tangerine: 38;
  --amber: 45;
  --gold: 52;
  --yellow: 60;
  --lime: 75;
  --chartreuse: 90;
  --green: 120;
  --seafoam: 140;
  --springgreen: 148;
  --teal: 164;
  --aqua: 172;
  --cyan: 180;
  --skyblue: 195;
  --azure: 220;
  --royalblue: 228;
  --blue: 250;
  --indigo: 255;
  --violet: 270;
  --purple: 285;
  --magenta: 300;
  --fuchsia: 315;
  --rose: 330;

  /*--- Spacing */
  --px12: 12px;
  --px11: 11px;
  --px10: 10px;
  --px9: 9px;
  --px8: 8px;
  --px7: 7px;
  --px6: 6px;
  --px5: 5px;
  --px4: 4px;
  --px3-5: 3.5px;
  --px3: 3px;
  --px2-5: 2.5px;
  --px2: 2px;
  --px1-5: 1.5px;
  --px1: 1px;
  --px0-5: 0.5px;
  --px0: 0;
  --px-0-5: -0.5px;
  --px-1: -1px;
  --px-1-5: -1.5px;
  --px-2: -2px;

  --round: 9px;
  --round-sm: 6px;
  --round-xs: 3px;
  --gap: 1rem;
  --gap-sm: calc(var(--gap) * 0.75);
  --gap-xs: calc(var(--gap) * 0.5);
  --gap-xxs: calc(var(--gap) * 0.25);

  text-rendering: optimizelegibility;
}

html {
  /*--- Theme tokens */
  --surface: hsl(var(--royalblue), 16%, 22%);
  --foreground: hsla(var(--royalblue), 16%, 75%, 0.80);
  --foreground-text: hsla(var(--royalblue), 24%, 80%, 0.88);
  --foreground-bold: hsla(var(--azure), 48%, 88%, 0.96);
  --blue-100: hsla(calc(var(--azure) + 16), 12%, 12%, 0.22);
  --blue-200: hsla(calc(var(--skyblue) - 16), 12%, 22%, 0.11);
  --highlight: hsl(var(--skyblue), 16%, 64%);
  --highlight-05: hsla(var(--skyblue), 16%, 48%, 0.1);
  --highlight-10: hsla(var(--skyblue), 16%, 64%, 0.1);
  --highlight-30: hsla(var(--skyblue), 16%, 64%, 0.3);
  --highlight-border-10: var(--highlight-10) solid var(--px1-5);
  --highlight-border-50: hsla(var(--skyblue), 24%, 72%, 0.5) solid var(--px1-5);
  --highlight-offset: var(--px-1-5);
  --outline: hsla(var(--indigo), 16%, 10%, 0.88);
  --outline-50: hsla(var(--indigo), 16%, 10%, 0.5);
  --outline-border: var(--outline) solid var(--px1-5);
  --outline-shadow: var(--outline) 0 0 0 var(--px1-5);
  --stroke-cell: var(--outline) solid var(--px1-5);

  --alias: var(--px1-5) 0 hsla(var(--indigo), 16%, 10%, 0.125),
    var(--px-1-5) 0 hsla(var(--indigo), 16%, 10%, 0.125),
    0 var(--px1-5) hsla(var(--indigo), 16%, 10%, 0.125),
    0 var(--px-1-5) hsla(var(--indigo), 16%, 10%, 0.125);

  --text-alias: var(--alias),
    0 0 var(--px0-5) currentColor;

  --text-alias-strong: var(--alias),
    0 0 var(--px1) var(--outline-50);

  --text-stroke:
    /* 1 - 1.5 */
    var(--px-1-5) var(--px-1) var(--outline-50),
    var(--px-1-5) var(--px1) var(--outline-50),
    var(--px1-5) var(--px-1) var(--outline-50),
    var(--px1-5) var(--px1) var(--outline-50),
    var(--px-1) var(--px-1-5) var(--outline-50),
    var(--px1) var(--px-1-5) var(--outline-50),
    var(--px-1) var(--px1-5) var(--outline-50),
    var(--px1) var(--px1-5) var(--outline-50),
    /* 0.5 - 1.5 */
    var(--px-1-5) var(--px-0-5) var(--outline-50),
    var(--px1-5) var(--px-0-5) var(--outline-50),
    var(--px-1-5) var(--px0-5) var(--outline-50),
    var(--px1-5) var(--px0-5) var(--outline-50),
    var(--px-0-5) var(--px-1-5) var(--outline-50),
    var(--px-0-5) var(--px1-5) var(--outline-50),
    var(--px0-5) var(--px-1-5) var(--outline-50),
    var(--px0-5) var(--px1-5) var(--outline-50),
    var(--px-1-5) var(--px-1-5) var(--outline-50),
    var(--px1-5) var(--px-1-5) var(--outline-50),
    var(--px-1-5) var(--px1-5) var(--outline-50),
    var(--px1-5) var(--px1-5) var(--outline-50),
    var(--px-1-5) var(--px0) var(--outline-50),
    var(--px1-5) var(--px0) var(--outline-50),
    var(--px-1-5) var(--px0) var(--outline-50),
    var(--px1-5) var(--px0) var(--outline-50),
    var(--px0) var(--px-1-5) var(--outline-50),
    var(--px0) var(--px1-5) var(--outline-50),
    var(--px0) var(--px-1-5) var(--outline-50),
    var(--px0) var(--px1-5) var(--outline-50),
    0 0 var(--px1-5) black;

  --scanlines: repeating-linear-gradient(in srgb-linear to bottom,
      var(--blue-200) var(--px0),
      var(--blue-200) var(--px2),
      var(--blue-100) var(--px2),
      var(--blue-100) var(--px4));

  --thead-fill: linear-gradient(in srgb-linear to bottom,
      hsl(calc(var(--royalblue) - 32), 24%, 32%) 32%,
      hsl(calc(var(--royalblue) - 24), 24%, 32%) 101%,
      hsl(calc(var(--royalblue) - 00), 24%, 32%) calc(101% + var(--px3)));

  --thead-gradient:
    linear-gradient(in srgb-linear 090deg, hsla(calc(var(--skyblue) - 15), 40%, 48%, 0.3), transparent 50%),
    linear-gradient(in srgb-linear 135deg, hsla(calc(var(--skyblue) - 00), 48%, 40%, 0.3), transparent 75%),
    linear-gradient(in srgb-linear 180deg, hsla(calc(var(--skyblue) + 15), 40%, 48%, 0.3), transparent 100%),
    linear-gradient(in srgb-linear 270deg, hsla(calc(var(--skyblue) + 30), 40%, 48%, 0.3), transparent 75%);

  --rainbow: linear-gradient(in srgb-linear 90deg,
      hsl(var(--skyblue), 56%, 40%), 12%,
      hsl(var(--indigo), 48%, 48%), 24%,
      hsl(var(--rose), 40%, 56%), 48%,
      hsl(var(--amber), 48%, 48%), 72%,
      hsl(var(--green), 56%, 40%), 100%);

  --gradient: linear-gradient(in srgb-linear to bottom right,
      hsla(calc(var(--purple) * 0.96), 32%, 24%, 1) 24%,
      hsla(calc(var(--purple) * 1.12), 32%, 24%, 1) 48%,
      hsla(calc(var(--purple) * 1.28), 32%, 24%, 1) 72%);

  --svg-hrule: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iaHNsKDIyOCwgMTYlLCAxMiUpIiBzdHJva2U9ImhzbCgyMTUsIDE2JSwgMjYlKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMCAxMy41YzMgMCAzLTEyIDYtMTJzMyAxMiA2IDEyIi8+PC9zdmc+');
  --svg-thead: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iaHNsKDIyOCwgMTYlLCAyMiUpIiBzdHJva2U9ImhzbCgyNTUsIDE2JSwgMTYlKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMCAxMy41YzMgMCAzLTEyIDYtMTJzMyAxMiA2IDEyIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6b3ZlcmxheSIvPjwvc3ZnPg==');
  --svg-noise: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZmlsdGVyIGlkPSJwcmVmaXhfX2EiPjxmZVR1cmJ1bGVuY2UgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz48ZmVDb2xvck1hdHJpeCB0eXBlPSJzYXR1cmF0ZSIgdmFsdWVzPSIuMyIvPjxmZUNvbXBvbmVudFRyYW5zZmVyPjxmZUZ1bmNSIHR5cGU9ImdhbW1hIiBzbG9wZT0iLjMiIGludGVyY2VwdD0iLjMiLz48ZmVGdW5jRyB0eXBlPSJnYW1tYSIgc2xvcGU9Ii4zIiBpbnRlcmNlcHQ9Ii4zIi8+PGZlRnVuY0IgdHlwZT0iZ2FtbWEiIHNsb3BlPSIuMyIgaW50ZXJjZXB0PSIuMyIvPjxmZUZ1bmNBIHR5cGU9ImxpbmVhciIgc2xvcGU9Ii4zIi8+PC9mZUNvbXBvbmVudFRyYW5zZmVyPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbHRlcj0idXJsKCNwcmVmaXhfX2EpIi8+PC9zdmc+');
  --svg-verti: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12pt 9pt" width="12pt" height="9pt"><path style="transform: rotate(90deg) translateY(-11pt);" fill="hsl(200, 14%, 22%)" stroke="hsl(255, 16%, 16%)" stroke-width="1.5pt" stroke-linecap="square" d="M0,13.5c3,0,3-12,6-12s3,12,6,12" /></svg>');
}

html,
body {
  padding: 0;
}

body[data-vscode-theme-kind='vscode-dark'] {
  background-color: hsl(var(--royalblue), 16%, 10%);
  background-position: var(--px-2) var(--px0);
  background-repeat: repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light, normal;
  background-image: var(--svg-noise), var(--scanlines);
  background-size: 72px;
}

.markdown-body {
  /*--- Editor variables */
  --vscode-font-size: var(--markdown-font-size, 17px) !important;
  --vscode-editor-font-family: var(--font-google-mono), var(--font-dm-mono), var(--font-mono, inherit) !important;
  --vscode-editor-foreground: var(--foreground, white) !important;
  --vscode-font-weight: var(--text-regular, 450) !important;
  --vscode-textCodeBlock-background: var(--surface) !important;
  --vscode-textPreformat-background: var(--surface) !important;
  --vscode-textPreformat-foreground: var(--foreground, white) !important;
  --vscode-widget-border: var(--outline) !important;

  /* Preview variables */
  --markdown-font-family: var(--font-google-sans, var(--font-dm-sans)), var(--font-sans, inherit);
  --markdown-font-size: 17px;
  --markdown-line-height: 1.4;
}

.markdown-body {
  color: var(--foreground-text);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  font-feature-settings: var(--font-settings-sans);
  gap: var(--gap-xxs);
  margin: auto;
  max-width: 800px;
  min-width: 320px;
  padding: var(--gap-sm) calc(var(--gap) * 2.5);
  text-rendering: optimizeLegibility;
  text-shadow: var(--text-alias);
}

.markdown-body::selection {
  background: hsla(var(--cyan), 64%, 56%, 0.2);
}

.markdown-body strong {
  color: var(--foreground-bold);
  font-variation-settings: var(--font-features-bolder);
  font-weight: var(--text-bolder);
  letter-spacing: 0.01em;
  paint-order: stroke;
  text-shadow: var(--text-alias-strong);
}

.markdown-body sub,
.markdown-body sup {
  font-size: 0.8em;
  vertical-align: text-top;
  line-height: 1em;
  margin: 0 0.1em;
}

.markdown-body sub a,
.markdown-body sup a {
  display: inline-flex;
  padding: 0.1em;
  outline-color: transparent !important;
  text-underline-offset: var(--px2-5);
}

.markdown-body sub a:focus,
.markdown-body sup a:focus {
  background-color: var(--outline-50);
  border-radius: 0;
}

.markdown-body p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.3;
}

.markdown-body p+p {
  margin-block-start: var(--gap-xs);
  margin-block-end: 0;
}

.markdown-body a {
  text-decoration-color: currentColor;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: var(--px1);
  text-underline-offset: var(--px1);
  vertical-align: baseline;
  position: relative;
  z-index: 1;
}

.markdown-body strong:has(a) {
  font-variation-settings: var(--font-features-bold);
  font-weight: var(--text-bold);
  text-decoration-color: inherit;
  color: inherit;
}

.markdown-body strong code,
.markdown-body strong:has(code) {
  font-variation-settings: var(--font-features-regular);
  font-weight: var(--text-regular);
  color: var(--foreground-text);
  text-shadow: var(--text-alias);
}

.markdown-body a code,
.markdown-body a:has(code) {
  font-variation-settings: var(--font-features-regular);
  text-decoration-color: inherit;
  color: inherit;
}

.markdown-body a:has(code):focus {
  outline-offset: var(--px0-5);
  outline: transparent solid var(--px2);
}

.markdown-body a:link,
.markdown-body strong:has(a:link) {
  color: hsl(var(--azure), 90%, 75%);
}

.markdown-body a:hover {
  color: hsl(calc(var(--azure) - 16), 70%, 70%);
  text-decoration-style: solid;
}

.markdown-body a:active,
.markdown-body a:focus,
.markdown-body a:visited {
  color: hsl(calc(var(--azure) + 16), 80%, 70%);
  outline-color: transparent;
  border-radius: var(--round-xs);
}

.markdown-body ul,
.markdown-body ol {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: var(--gap-xs);
  position: relative;
  margin: var(--gap-xs) 0 var(--gap-sm) calc(var(--gap) * -1.5);
}

.markdown-body ol,
.markdown-body ol li>ul {
  margin-left: -1rem;
}

.markdown-body li {
  position: relative;
  list-style-position: outside;
  flex: 0 1 auto;
  padding-left: var(--gap-xs);
 line-height: 1.3;
}

.markdown-body li,
.markdown-body li:last-child {
  margin-block-start: var(--gap-xxs);
  margin-block-end: var(--gap-xxs);
}

.markdown-body li+li,
.markdown-body li:not(:first-child),
.markdown-body li:not(:last-child) {
  margin-block-start: var(--gap-xxs);
  margin-block-end: 0;
}

.markdown-body ol li {
  list-style-type: decimal;
}

.markdown-body ul li {
  list-style-type: disc;
}

.markdown-body li::marker {
  font-size: 1.05em;
  font-variation-settings: var(--font-features-regular);
  font-weight: var(--text-regular);
  text-shadow: var(--text-alias-strong);
  font-feature-settings: 'case' 1, 'lnum' 1, 'tnum' 1, 'zero' 0;
  vertical-align: text-top;
  color: var(--vscode-textPreformat-foreground);
  align-self: start;
}

.markdown-body ol li::marker {
  font-family: var(--font-title, sans-serif);
  list-style: decimal;
}

.markdown-body ul li::marker {
  font-family: var(--font-mono, monospace);
  list-style: disc;
}

.markdown-body li:has(input[type='checkbox']) {
  display: table;
  margin-left: calc(var(--gap-xs) * -1);
  position: relative;
  padding-left: var(--gap-sm);
  margin-block-start: var(--gap-sm);
}

.markdown-body li p:first-child {
  margin-block-start: 0;
}

.markdown-body input[type='checkbox'] {
  appearance: none;
  background: var(--outline-50);
  border-radius: var(--round);
  border: var(--outline-border);
  border-color: var(--surface);
  box-shadow: var(--outline-shadow);
  box-sizing: content-box;
  left: var(--px-1);
  margin: 0 var(--gap-xxs) 0 calc(var(--gap-sm) * -1);
  min-height: var(--gap);
  min-width: var(--gap);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-50);
  position: absolute;
  top: var(--px0);
  vertical-align: text-top;
}

.markdown-body input[type='checkbox']:hover {
  cursor: pointer;
}

.markdown-body input[type='checkbox']:checked {
  outline: var(--highlight-border-10);
  background: var(--surface);
}

.markdown-body input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: hsl(var(--chartreuse), 32%, 64%);
  font-weight: bold;
  font-family: var(--font-title);
  font-feature-settings: var(--font-features-semibold);
  font-variant-emoji: unicode;
  outline-color: var(--highlight-05);
  outline: none;
  text-shadow: var(--text-stroke);
  text-indent: var(--px-2);
  text-rendering: geometricPrecision;
}

.markdown-body input[type='checkbox']+label {
  display: inline-block;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  -webkit-text-stroke: var(--px3-5, thin) var(--outline-50);
  font-family: var(--font-title);
  font-feature-settings: var(--ss-instrument-alt);
  font-variation-settings: var(--font-features-bold);
  font-weight: var(--text-bold);
  letter-spacing: -0.005em;
  padding: 0;
  paint-order: stroke;
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  z-index: 2;
  margin-bottom: var(--gap-xs);
  flex-direction: column;
  flex: 0 1 auto;
  flex-flow: wrap;
  align-items: baseline;
}

.markdown-body image {
  max-width: min-content;
  max-height: min-content;
  height: 100%;
  width: auto;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  border: none;
  margin: var(--gap) 0 0 0;
  margin-bottom: 0;
}

.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  border: none;
  margin: var(--gap-sm) 0 0 0;
  margin-bottom: 0;
}

.markdown-body h1+h2,
.markdown-body h2+h3,
.markdown-body h3+h4,
.markdown-body h4+h5,
.markdown-body h5+h6 {
  margin: 0;
  margin-block-start: var(--gap-xxs);
  margin-block-end: 0;
}

.markdown-body h1 {
  font-size: round(1.75rem, 1px);
  line-height: 0.88;
  letter-spacing: -0.035em;
  color: hsl(var(--yellow), 56%, 64%);
}

.markdown-body h2 {
  font-size: round(1.5rem, 1px);
  line-height: 0.96;
  letter-spacing: -0.025em;
  color: hsl(var(--chartreuse), 40%, 64%);
}

.markdown-body h3 {
  font-size: round(1.4rem, 1px);
  line-height: 1;
  letter-spacing: -0.015em;
  color: hsl(var(--teal), 40%, 64%);
}

.markdown-body h4 {
  font-size: round(1.3rem, 1px);
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: hsl(var(--azure), 72%, 72%);
}

.markdown-body h5 {
  font-size: round(1.2rem, 1px);
  line-height: 1.2;
  color: hsl(var(--violet), 56%, 72%);
}

.markdown-body h6 {
  font-size: 1.1rem;
  line-height: 1.2;
  color: hsl(var(--rose), 56%, 72%);
}

.markdown-body h1 strong,
.markdown-body h2 strong,
.markdown-body h3 strong,
.markdown-body h4 strong,
.markdown-body h5 strong,
.markdown-body h6 strong {
  text-shadow: inherit;
  color: inherit;
  font-size: inherit;
}

.markdown-body h1 code,
.markdown-body h2 code,
.markdown-body h3 code,
.markdown-body h4 code,
.markdown-body h5 code,
.markdown-body h6 code {
  border-block-end: none;
  color: currentColor;
  display: inline;
  font-variation-settings: var(--font-features-regular);
  font-weight: var(--text-regular) !important;
  text-shadow: var(--text-alias);
  vertical-align: top;
  font-size: 0.72rem;
  color: var(--foreground-text, currentColor);
  letter-spacing: 0;
}

.markdown-body h1+hr,
.markdown-body h2+hr,
.markdown-body h3+hr,
.markdown-body h4+hr,
.markdown-body h5+hr,
.markdown-body h6+hr,
.markdown-body blockquote+hr {
  display: none;
}

.markdown-body hr {
  align-content: stretch;
  align-items: stretch;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  min-height: 1em;
  position: relative;
  width: 100%;
  z-index: 1;
  border: none;
}

.markdown-body hr::before {
  align-self: stretch;
  background-position: 0 0;
  background-repeat: round;
  content: '';
  height: 1em;
  z-index: -1;
}

.markdown-body hr::before {
  background-color: hsla(var(--royalblue), 12%, 12%, 0.5);
  flex: 0 1 auto;
  background-image: var(--svg-hrule);
}

.markdown-body hr {
  box-sizing: border-box;
  flex-direction: column;
  gap: 0;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 1em;
  padding: 0;
  position: relative;
  right: 50%;
  width: calc(100vw - var(--px8));
}

.markdown-body blockquote {
  background: hsl(var(--skyblue), 16%, 22%);
  border-block-start: var(--highlight-border-10);
  border-left-color: var(--highlight-30);
  box-shadow: var(--outline-shadow);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  overflow: hidden;
  padding: var(--gap-sm) var(--gap-sm) var(--gap-sm) 24px;
  position: relative;
  z-index: 0;
  border-radius: var(--round);
}

/*
.markdown-body blockquote:after {
  background-image: var(--svg-verti);
  background-repeat: repeat-y;
  background-size: 12pt 9pt;
  color: transparent;
  content: '';
  display: block;
  font-size: 1rem;
  height: 100%;
  width: 16px;
  position: absolute;
  left: 0.5px;
  top: 0;
  bottom: 0;
  z-index: 2;
  box-sizing: content-box;
}
*/

.markdown-body table {
  background-color: var(--surface);
  border-collapse: separate;
  border-color: var(--outline);
  border-radius: var(--round);
  border-spacing: 0;
  box-shadow: var(--outline-shadow);
  margin: 0.5rem 0;
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  overflow: hidden;
}

.markdown-body tbody {
  display: table-header-group;
  width: 100%;
}

.markdown-body table tr td img {
  width: auto;
  max-width: 4.5em;
  height: 100%;
  max-height: 4.5em;
}

.markdown-body table tr td a {
  text-decoration-color: currentColor;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: calc(var(--px4) * -1);
  display: inline-flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.markdown-body table tr td br {
  display: none;
}

.markdown-body table tr td a sub {
  display: inline;
  line-height: 0.8em;
}

.markdown-body table tr td a sub b {
  font-size: 0.8em;
  font-variation-settings: var(--font-features-medium);
  font-weight: var(--text-medium) !important;
}

.markdown-body table+table {
  margin-top: 0;
  border-radius: var(--round) var(--round) 0 0;
}

.markdown-body table thead {
  background-color: var(--surface);
  background-image: var(--thead-gradient), var(--thead-fill);
  border-radius: var(--round) var(--round) 0 0;
  border-block-start: var(--outline-border);
  border-block-end: none;
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  position: relative;
  z-index: 1;
}

.markdown-body table thead::before,
.markdown-body table thead::after {
  content: '';
  display: flex;
  font-size: 1rem;
  height: 1rem;
  position: absolute;
  width: 100%;
}

.markdown-body table thead::before {
  background-image: var(--scanlines);
  background-attachment: fixed;
  background-position: 0 var(--px-1-5);
  background-repeat: repeat-y;
  border-radius: calc(var(--round) - var(--px1-5)) calc(var(--round) - var(--px1-5)) 0 0;
  bottom: 0;
  left: var(--px1-5);
  right: var(--px-1-5);
  top: 0;
  width: calc(100% - var(--px3));
  height: calc(100% - var(--px3));
  z-index: 2;
}

.markdown-body table thead::after {
  shape-rendering: geometricPrecision;
  stroke-miterlimit: 4;
  stroke-linejoin: round;
  background-image: var(--svg-thead);
  background-position: 0 0;
  background-repeat: repeat-x;
  bottom: calc(var(--px3) * -1);
  left: 0;
  right: 0;
  z-index: 3;
}

.markdown-body thead th {
  border-color: transparent;
  padding: 0.8rem 0.25rem 1rem;
  position: relative;
  align-items: baseline;
}

.markdown-body thead th,
.markdown-body thead strong {
  -webkit-text-stroke: var(--px3, thin) var(--outline-50);
  color: var(--foreground-bold);
  font-family: var(--font-title);
  font-size: 1.1em;
  font-variation-settings: var(--font-features-heading);
  font-weight: var(--text-bold);
  letter-spacing: -0.005em;
  line-height: 1.1;
  paint-order: stroke;
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  vertical-align: middle;
  z-index: 4;
}

.markdown-body tfoot {
  background: var(--surface);
  border-radius: 0 0 var(--round) var(--round);
  overflow: hidden;
}

.markdown-body tfoot tr td {
  border-radius: 0 0 var(--round) var(--round);
}

.markdown-body th:first-child,
.markdown-body thead+tbody tr:first-child td:first-child {
  border-radius: var(--round) 0 0 0;
  padding-left: 0.75rem;
}

.markdown-body th:last-child,
.markdown-body thead+tbody tr:first-child td:last-child {
  border-radius: 0 var(--round) 0 0;
  padding-right: 0.75rem;
}

.markdown-body table tr {
  width: 100%;
  max-width: calc(100% - 1rem);
}

.markdown-body td {
  border-top: var(--highlight-border-10);
  border-bottom: var(--stroke-cell);
  font-size: 0.96rem;
  padding: 0.25rem;
  max-width: calc(100% - 2rem);
  background: var(--surface);
  text-shadow: var(--text-alias);
  border-collapse: separate;
  line-height: 1.2;
}

.markdown-body tr:last-child td:last-child {
  border-radius: 0 0 var(--round) 0;
}

.markdown-body tr:first-child td {
  padding-top: 0.3rem;
  border-top: transparent none 0;
}

.markdown-body tr td:first-child {
  padding-left: 0.75rem;
}

.markdown-body tr:last-child td:first-child {
  border-radius: 0 0 0 var(--round);
}

.markdown-body tr:last-child td {
  padding-bottom: 0.5rem;
  border-bottom: transparent none 0;
}

.markdown-body tr td:last-child {
  padding-right: 0.75rem;
}


.markdown-body code {
  background: hsla(var(--rose), 18%, 18%, 1);
  border: solid transparent var(--px0);
  border-block-start: var(--highlight-05) solid var(--px1);
  border-block-end: solid transparent var(--px1);
  border-radius: var(--round-xs);
  word-break: break-word;
  color: hsla(var(--orangered), 56%, 64%, 0.88);
  display: inline-flex;
  font-feature-settings: var(--font-settings-mono);
  font-size: 0.8rem;
  font-variation-settings: var(--font-features-regular);
  font-weight: var(--text-regular);
  vertical-align: baseline;
  box-shadow: var(--outline-shadow);
  outline: var(--highlight-05) solid var(--px1);
  outline-offset: var(--highlight-offset);
  text-shadow: var(--text-alias);
  margin: auto var(--px1);
}

.markdown-body pre:has(code) {
  padding: var(--gap-sm) var(--gap-sm) var(--gap-sm) var(--gap);
  overflow-y: auto;
  overflow-x: hidden;
  outline: var(--highlight-border-10);
  outline-offset: var(--highlight-offset);
  max-block-size: 16rem;
  line-height: 1.3;
  font-size: 0.88rem;
  display: flow-root;
  color: inherit;
  box-shadow: var(--outline-shadow);
  border: solid transparent var(--px1-5);
  border-radius: var(--round);
  border-block-start: var(--highlight-border-10);
  background-color: var(--surface);
}

.markdown-body pre {
  margin-top: var(--gap-xxs);
  margin-bottom: var(--gap);
}

.markdown-body pre+pre {
  margin-top: 0;
}

.markdown-body pre code {
  background-color: transparent;
  display: contents;
  box-shadow: none;
  outline-color: transparent;
  color: inherit;
}

.markdown-body td code {
  outline-color: transparent;
  box-shadow: none;
  border: none;
  background: transparent;
}

.markdown-body .admonition {
  align-items: stretch;
  background-attachment: fixed;
  background-clip: padding-box;
  background-color: var(--highlight-10);
  background-image: var(--scanlines);
  background-position: 0 0;
  border-bottom: transparent none 0;
  border-color: hsla(var(--azure), 64%, 60%, 0.8);
  border-radius: var(--round);
  box-shadow: var(--outline-shadow);
  display: flex;
  line-height: 1em;
  flex-direction: column;
  flex: 0 1 auto;
  gap: var(--gap-sm);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
}

.markdown-body .admonition .admonition-title {
  border-bottom: 0 none transparent;
  border-bottom-color: transparent;
  color: var(--foreground-bold);
  font-variation-settings: var(--font-features-semibold);
  font-weight: var(--text-semibold);
}

.markdown-body .markdown-alert.note {
  --border-color: hsl(var(--blue), 56%, 72%);
}

.markdown-body .markdown-alert.warning {
  --border-color: hsl(var(--amber), 64%, 48%);
}

.markdown-body .markdown-alert.important {
  --border-color: hsl(var(--purple), 72%, 56%);
}

.markdown-body .markdown-alert.caution {
  --border-color: hsl(var(--red), 72%, 64%);
}

.markdown-body .markdown-alert.tip {
  --border-color: hsl(var(--green), 32%, 56%);
  color: hsl(var(--green), 32%, 56%);
}

.markdown-body .markdown-alert {
  align-items: stretch;
  background-attachment: fixed;
  background-clip: padding-box;
  background-color: var(--highlight-10);
  border-bottom: transparent none 0;
  border-color: var(--border-color, hsla(var(--azure), 64%, 60%, 0.8));
  border-radius: var(--round);
  box-shadow: var(--outline-shadow);
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  gap: var(--gap-sm);
  padding: var(--gap) calc(var(--gap) * 1.5);
  outline-offset: var(--highlight-offset);
  outline: var(--highlight-border-10);
  margin: var(--gap-sm) 0;
}

.markdown-body .markdown-alert>p {
  color: var(--foreground-bold);
}

.markdown-body .markdown-alert>span {
  flex: 1 0 auto;
  gap: var(--gap-xxs);
}

.markdown-body .markdown-alert>span:first-child {
  -webkit-text-stroke: var(--px3, thin) var(--outline-50);
  paint-order: stroke;
  text-rendering: geometricPrecision;
  text-shadow: var(--text-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
  color: currentColor;
  font-family: var(--font-title);
  font-variation-settings: var(--font-features-heading);
  font-weight: var(--text-bold);
  letter-spacing: -0.005em;
  line-height: 1.05;
  vertical-align: middle;
  text-transform: uppercase;
  z-index: 4;
  text-shadow: var(--text-stroke);
  gap: var(--gap-xxs);
}

.markdown-body .markdown-alert>span:first-child .markdown-alert-icon {
  height: calc(var(--gap) * 1.15);
  width: calc(var(--gap) * 1.15);
  margin: calc(var(--gap) * -0.3) 0 calc(var(--gap) * -0.15) 0;
}
